body, footer
{
	background-color: whitesmoke;
	text-align: center;
}
header
{
	background-color: #668DDA;
	text-align: center;
	padding: 2px;
}

#titulo
{
	color: white;
}
h1
{
	text-align: center;
}


.foto1{
width: 220px;
height: 200px;
margin-right: 45%;
margin-left: 50%;
display: block;
padding: 1px;
float: right;

}


